
.my-btn{
    padding: 15px;
}










.carousel-control-next{
    position: absolute;
    left: 0;
}


.my-btn1{

border : 2px solid #fff
padding: 15px;
}


.About{
margin-top: 40px;
background-color:#F8F9FA;
}
.text-cteate{
background-color: #F8F9FA;


}
.team-boxs .team-box{
background-color: blue;
width: 25.55555%;
display: flex;

}
 .team-boxs .team-box img{
position: relative;
    width: 100%;
}
.team-boxs .team-box.caption{

background-color: aquamarine;
color: #fff;
position: absolute;
top: 0;
left:0;

}
.team-boxs .team-box .caption h1{

margin: 0;



}



























