
.my-btn{
    padding: 15px;
}










.carousel-control-next{
    position: absolute;
    left: 0;
}


.my-btn1{

border : 2px solid #fff
padding: 15px;
}


.About{
margin-top: 40px;
background-color: aqua;
width: 60px;
height: 70px;
}
